themes {
    Matugen {
        // Standard Palette
        fg "{{colors.on_surface.default.hex}}"
        bg "{{colors.surface.default.hex}}"
        black "{{colors.surface_container_lowest.default.hex}}"
        red "{{colors.error.default.hex}}"
        green "{{colors.tertiary.default.hex}}"
        yellow "{{colors.tertiary_container.default.hex}}"
        blue "{{colors.primary.default.hex}}"
        magenta "{{colors.secondary.default.hex}}"
        cyan "{{colors.secondary_container.default.hex}}"
        white "{{colors.on_surface.default.hex}}"
        orange "{{colors.error_container.default.hex}}"
        // Granular UI Definitions
        text_unselected {
            base "{{colors.on_surface.default.hex}}"
            background "{{colors.surface.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        text_selected {
            base "{{colors.on_surface.default.hex}}"
            background "{{colors.surface_container.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        ribbon_unselected {
            base "{{colors.on_surface_variant.default.hex}}"
            background "{{colors.surface_container_high.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        ribbon_selected {
            base "{{colors.on_primary.default.hex}}"
            background "{{colors.primary.default.hex}}"
            emphasis_0 "{{colors.on_primary.default.hex}}"
            emphasis_1 "{{colors.secondary_container.default.hex}}"
            emphasis_2 "{{colors.tertiary_container.default.hex}}"
            emphasis_3 "{{colors.error_container.default.hex}}"
        }
        table_title {
            base "{{colors.on_surface.default.hex}}"
            background "{{colors.surface.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        table_cell_unselected {
            base "{{colors.on_surface.default.hex}}"
            background "{{colors.surface.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        table_cell_selected {
            base "{{colors.on_secondary_container.default.hex}}"
            background "{{colors.secondary_container.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        list_unselected {
            base "{{colors.on_surface.default.hex}}"
            background "{{colors.surface.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        list_selected {
            base "{{colors.on_secondary_container.default.hex}}"
            background "{{colors.secondary_container.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        frame_selected {
            base "{{colors.primary.default.hex}}"
            background "{{colors.surface.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        frame_highlight {
            base "{{colors.tertiary.default.hex}}"
            background "{{colors.surface.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        exit_code_success {
            base "{{colors.tertiary.default.hex}}"
            background "{{colors.surface.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        exit_code_error {
            base "{{colors.error.default.hex}}"
            background "{{colors.surface.default.hex}}"
            emphasis_0 "{{colors.primary.default.hex}}"
            emphasis_1 "{{colors.secondary.default.hex}}"
            emphasis_2 "{{colors.tertiary.default.hex}}"
            emphasis_3 "{{colors.error.default.hex}}"
        }
        multiplayer_user_colors {
            player_1 "{{colors.primary.default.hex}}"
            player_2 "{{colors.secondary.default.hex}}"
            player_3 "{{colors.tertiary.default.hex}}"
            player_4 "{{colors.error.default.hex}}"
            player_5 "{{colors.primary_container.default.hex}}"
            player_6 "{{colors.secondary_container.default.hex}}"
            player_7 "{{colors.tertiary_container.default.hex}}"
            player_8 "{{colors.error_container.default.hex}}"
            player_9 "{{colors.on_primary_container.default.hex}}"
            player_10 "{{colors.on_secondary_container.default.hex}}"
        }
    }
}
