* {
  font-family: JetBrainsMono; }

.bar {
  background: transparent; }

.bar-bg {
  font-size: 1rem;
  background: #24273a; }

.os-btn {
  font-size: 0.5rem;
  border: none;
  box-shadow: none;
  color: white;
  background: black;
  border: none;
  border-radius: 0.3rem;
  margin: 0.2rem 0.3rem;
  min-width: 0.2rem;
  min-height: 1.8rem; }

.workspaces {
  background: transparent;
  margin: 0.5rem; }
  .workspaces button {
    border: none;
    box-shadow: none;
    color: white;
    background: #1e2030;
    border: none;
    border-radius: 9999px;
    margin: 0.2rem 0rem;
    min-width: 0.1rem;
    min-height: 0.6rem; }
    .workspaces button.occupied {
      background-color: #494d64; }
    .workspaces button.active {
      background: #cad3f5;
      min-height: 1.2rem; }

.tray {
  background: #363a4f;
  border-radius: 0.6rem; }

.tray-item {
  background: #494d64;
  border: none;
  box-shadow: none;
  margin: 0.2rem 0rem;
  padding: 0rem 0.5rem; }

tooltip {
  background-color: #24273a;
  color: #cad3f5; }

.clock {
  font-size: 1.2rem;
  font-weight: 700;
  color: #cad3f5;
  background: transparent;
  margin: 0.25rem;
  border-radius: 0.6rem; }

.settings-selector {
  background: transparent;
  color: white;
  border: none;
  box-shadow: none; }

.settings {
  background-color: transparent; }

.info {
  min-width: 25rem;
  background: #24273a;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #494d64; }

.info-power-button {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: #b7bdf8;
  border: none;
  box-shadow: none;
  color: white;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem; }
  .info-power-button:hover {
    background: #f5a97f; }

.default-audio-selected {
  background-color: red; }

.default-audio-unselected {
  background-color: blue; }

.debug {
  background: red; }
