$base01: #5d6b1d;
$base02: #697726;
$base03: #748330;
$base04: #808f3b;
$base05: #8b9b48;
$base06: #97a655;
$base07: #a3b164;
$base08: #afbc74;
$base09: #905a31;
$base0A: #657323;
$base0B: #3a843c;
$base0C: #29846d;
$base0D: #3c729b;
$base0E: #6759a9;
$base0F: #924890;
