* {
  font-family: $font;
}

.bar {
  background: transparent;
}

.bar-bg {
  border-radius: 0.4rem;
  margin: 0.5rem 0rem 0.5rem 0.5rem;
  font-size: 1rem;
  background: $base00;
}

.os-btn {
  font-size: 0.5rem;
  border: none;
  box-shadow: none;
  color: white;
  background: black;
  border: none;
  border-radius: 0.3rem;
  margin: 0.2rem 0.3rem;
  min-width: 0.2rem;
  min-height: 1.8rem;
}

// Rework the ws-container and ws-button classes into efficient scss

.workspaces {
  background: transparent;
  margin: 0.5rem;

  button {
    border: none;
    box-shadow: none;
    color: white;
    background: $base01;
    border: none;
    border-radius: 9999px;
    margin: 0.2rem 0rem;
    min-width: 0.1rem;
    min-height: 0.6rem;

    &.occupied {
      background-color: $base03;
    }

    &.active {
      background: $base05;
      min-height: 1.2rem;
    }
  }
}

.tray {
  background: $base02;
  border-radius: 0.6rem;
}

.tray-item {
  background: $base03;
  border: none;
  box-shadow: none;
  margin: 0.1rem 0rem;
  padding: 0rem 0.5rem;
}

tooltip {
  background-color: $base00;
  color: $base05;
  // border: 2px solid #1a1b26;
}

.clock {
  font-size: 1.2rem;
  font-weight: 700;
  color: $base05;
  background: transparent;
  margin: 0.25rem;
  border-radius: 0.6rem;
}

.settings-selector {
  background: transparent;
  color: white;
  border: none;
  box-shadow: none;
}
